
* {
    dark-primary-color: #616161;
    default-primary-color: #9E9E9E;
    light-primary-color: #F5F5F5;
    text-primary-color: #212121;
    accent-color: #ABEBC6;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;
    error-color: #E74C3C ;
    correct-color: green;
}

/*-----------------ROOT------------------------------------*/
. root {
    -fx-background-color: divider-color;
}

/*-----------------LABEL------------------------------------*/
.label {
    -fx-text-fill: text-primary-color;
}

/*-----------------BUTTON------------------------------------*/
.button {
    -fx-background-color: light-primary-color;
    -fx-text-fill: primary-text-color;
    -fx-border-color: light-primary-color;
}

.button:hover {
    -fx-background-color: linear-gradient(light-primary-color 0.0%, default-primary-color 100.0%);
}

/*-----------------TABLE------------------------------------*/
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header:pressed {
    -fx-background-color: default-primary-color;
}

.table-row-cell {
    -fx-background-color: light-primary-color;
}

.table-row-cell:pressed {
    -fx-background-color: error-color;
}

/*-----------------SCROLLBAR------------------------------------*/
.scroll-bar {
    -fx-background-color: light-primary-color;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(light-primary-color 0.0%, default-primary-color 100.0%);;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(default-primary-color 0.0%, dark-primary-color 100.0%);;
}

/*-----------------WORD LAYOUTS------------------------------------*/
.favorite {
    -fx-background-color: accent-color;
}

.not-favorite {
    -fx-background-color: light-primary-color;
}

/*-----------------FEEDBACK LAYOUTS------------------------------------*/
.error {
    -fx-text-fill: error-color;
}

.error-choiceBox {
    -fx-border-color: error-color;
    -fx-border-width: 2px;
}

.correct {
    -fx-text-fill: correct-color;
}

.correct-choiceBox {
    -fx-border-color: correct-color;
    -fx-border-width: 2px;
}